<script>
  import Paper, { Title, Subtitle, Content } from "@smui/paper";
  import List, {
    Item,
    Text,
    Graphic,
    Separator,
    Subheader,
    Meta,
    PrimaryText,
    SecondaryText
  } from "@smui/list";
  import { link } from "svelte-spa-router";
  import { fade } from "svelte/transition";
  export const title = "Introduction";
  let contributors = [
    {
      name: "Pratik Kamble",
      creds: "PK",
      description: "Research Student - CSE (UG2016)"
    },
    {
      name: "Dr. Vinoo Alluri",
      creds: "VA",
      description: "Professor - Music & Cognition Group"
    },
    {
      name: "Dr. Praveen Parchuri",
      creds: "PP",
      description: "Professor - MLL"
    }
  ];
</script>

<div class="container" in:fade={{ duration: 300 }}>
  <Paper color={'primary'} elevation={10}>
    <Title>Introduction</Title>
    <Content>
      <p>
        This research aims to understand .. how depression trends exist in
        social networks. A network can be modeled simply as a collection of
        weighted nodes and directed edges. We plan to collect invasive,
        anonymous (see
        <a use:link href="/privacy">data privacy</a>
        ) information through a set of questionnaires to model social structure.
        This anonymous network will then be subjected to trend analysis and
        modeling. Given that time is sparse and everyone has a lot on their
        plate, any valid participation in the study will be
        <a use:link href="/renumeration">renumerated</a>
        .
      </p>
      <p />
    </Content>
  </Paper>
</div>

<div class="container" in:fade={{ duration: 700 }}>
  <Paper color={'secondary'} elevation={5}>
    <Title>
      Reach out
      <em>(About the authors)</em>
    </Title>
    <Content>
      The team behind this research consists of
      <List twoLine avatarList>
        {#each contributors as item}
          <Item>
            <Graphic
              style="background-image:
              url(https://via.placeholder.com/40x40.png?text={item.creds});" />
            <Text>
              <PrimaryText>{item.name}</PrimaryText>
              <SecondaryText>{item.description}</SecondaryText>
            </Text>
            <!-- <Meta class="material-icons">info</Meta> -->
          </Item>
        {/each}
      </List>
    </Content>
  </Paper>
</div>
