<script>
  import { replace } from "svelte-spa-router";
  import { onMount, onDestroy, afterUpdate, getContext } from "svelte";
  import { fade } from "svelte/transition";
  import Drawer, { AppContent } from "@smui/drawer";
  import Fab from "@smui/fab";
  import List, {
    Item,
    Text,
    Graphic,
    Separator,
    Subheader,
    Meta,
    PrimaryText,
    SecondaryText
  } from "@smui/list";
  import Card, { Content, Actions } from "@smui/card";
  import Tab from "@smui/tab";
  import TabBar from "@smui/tab-bar";
  import IconButton, { Icon } from "@smui/icon-button";
  import Chip from "@smui/chips";
  // import Snackbar from "@smui/snackbar";
  import Button, { Label } from "@smui/button";
  import Slider from "@smui/slider";
  import axios from "axios";
  import { user } from "../stores.js";

  let selected = {},
    optionMap = {},
    labelMap = {},
    activeItems = {},
    stateMap = {},
    questions = new Array(),
    options = new Array(),
    prevSaved = {},
    stateSaved = true,
    clicked = {};

  const iconMap = {
    0: { icon: "indeterminate_check_box", n: 1 },
    1: { icon: "thumb_down", n: 2 },
    2: { icon: "thumb_down", n: 1 },
    3: { icon: "thumbs_up_down", n: 1 },
    4: { icon: "thumb_up", n: 1 },
    5: { icon: "thumb_up", n: 2 },
    6: { icon: "thumb_up", n: 3 }
  };
  let __quiz_type = "intra",
    __quiz_name = "Loading Quiz ...",
    successfullyLoaded = false;

  let stateChange = async (oldState, curState) =>
    !(JSON.stringify(oldState) == JSON.stringify(curState));

  onMount(async () => {
    await fetch(`/api/core/questions/ssq6`, {
      headers: {
        Authorization: $user.token
      }
    })
      .then(results => {
        return results.json();
      })
      .then(questionnaire => {
        if (questionnaire.errors) {
          alert("Invalid Questionnaire!");
          replace("/");
        }
        successfullyLoaded = true;

        // setup the basic page layout
        __quiz_name = questionnaire.title;
        __quiz_type = questionnaire.type;
        questions = questionnaire.questions;
        options = questionnaire.options;
        // init default value for questions
        questions.forEach(question => (clicked[question._id] = options[0]._id));
        options.forEach(option => (labelMap[option._id] = option.label));
        // set questions to last saved options
        fetch(`/api/core/state/ssq6`, {
          headers: { Authorization: $user.token }
        })
          .then(resp => {
            return resp.json();
          })
          .then(stateWrapper => {
            let state = stateWrapper.state;
            questions.forEach(question => {
              selected[question._id] = {};
              options.forEach(option => {
                selected[question._id][option._id] = [];
                state[question._id][option._id].forEach(user => {
                  selected[question._id][option._id].push({
                    _id: user,
                    name: "<Anonymous User>",
                    creds: ["Hidden"]
                  });
                });
              });
            });
            return selected;
          })
          .then(selected => {
            prevSaved = { ...selected };
            stateSaved = true;
            questions.forEach(
              question =>
                (activeItems[question._id] =
                  selected[question._id][clicked[question._id]])
            );
          });
      });
  });

  onDestroy(async () => {
    let shouldSave =
      !stateSaved && successfullyLoaded
        ? confirm(
            "You have unsaved answers. Do you want to save them before exiting?"
          )
        : false;
    if (shouldSave) await saveState();
  });

  afterUpdate(async () => {
    stateSaved = !(
      successfullyLoaded && (await stateChange(prevSaved, selected))
    );
  });

  let saveState = async () => {
    if (await stateChange(prevSaved, selected)) {
      let state = {};
      //TODO map state into a workable form and push to db
      await fetch(`/api/core/state/ssq6`, {
        method: "POST",
        headers: {
          Authorization: $user.token,
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          state: state
        })
      })
        .then(resp => {
          return resp.json();
        })
        .then(save => {
          if (save.success) {
            prevSaved = { ...selected };
            stateSaved = true;
          }
        })
        .catch(err => {
          console.log(err);
        });
    } else {
      prevSaved = { ...selected };
      stateSaved = true;
    }
  };
</script>

<style>
  .drawer-container {
    position: relative;
    display: flex;
    height: 350px;
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 0;
  }
  * :global(.mdc-drawer--modal, .mdc-drawer-scrim) {
    /* This is not needed for a page-wide modal. */
    position: absolute;
  }
  * :global(.app-content) {
    flex: auto;
    overflow: auto;
    position: relative;
    flex-grow: 1;
  }
  .main-content {
    overflow: auto;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
  }
</style>

<svelte:head>
  <title>Attempt - {'ssq6'}</title>
</svelte:head>

<!-- Actual questionnaire route -->
<section id={'ssq6'}>
  <div class="container">
    <h2 class="mdc-typography--headline2">
      <IconButton
        class="material-icons"
        on:click={saveState}
        toggle
        bind:pressed={stateSaved}>
        <Icon class="material-icons" on>turned_in</Icon>
        <Icon class="material-icons">turned_in_not</Icon>
      </IconButton>
      <Chip leading>{__quiz_type}</Chip>
      {__quiz_name}
    </h2>
    <p class="mdc-typography--caption">
      <span style="color: {stateSaved ? 'green' : 'red'}">
        {#if stateSaved}
          No new changes!
        {:else}Unsaved Changes (click the bookmark above to save){/if}
      </span>
    </p>
  </div>
  {#each questions as { _id, ...question } (_id)}
    <div class="container" in:fade={{ duration: 400 }}>
      <Card elevation={20} color={'secondary'}>
        <Content>
          <p>
            <span class="mdc-typography--headline5">
              {question.description}
            </span>
          </p>
          <div class="drawer-container">
            <Drawer>
              <Content>
                <List>
                  {#each options as option (option._id)}
                    <Item
                      href="javascript:void(0)"
                      on:click={() => ((clicked[_id] = option._id), (activeItems[_id] = selected[_id][clicked[_id]]))}>
                      <Text>{option.label}</Text>
                    </Item>
                  {/each}
                </List>
              </Content>
            </Drawer>
            <AppContent class="app-content">
              <main class="main-content">
                <Fab
                  color="primary"
                  on:click={console.log(`Add to ${labelMap[clicked[_id]]} of ${_id}`)}
                  extended>
                  <Icon class="material-icons">person_add</Icon>
                  <Label>{labelMap[clicked[_id]]}</Label>
                </Fab>
                <List
                  id="{clicked[_id]}-items"
                  class="{_id}-choices"
                  threeLine
                  avatarList>
                  {#if activeItems[_id]}
                    {#each activeItems[_id] as item}
                      <Item>
                        <Graphic
                          style="background-image:
                          url(https://via.placeholder.com/40x40.png?text={item.name || 'X X'
                              .split(' ')
                              .map(val => val.substring(0, 1))
                              .join('')});" />
                        <Text>
                          <PrimaryText>{item.name}</PrimaryText>
                          <SecondaryText>{item._id}</SecondaryText>
                          <SecondaryText>{item.creds.toString()}</SecondaryText>
                        </Text>
                        <Meta
                          class="material-icons"
                          on:click={() => {
                            console.log(`Info for ${item._id} of ${labelMap[clicked[_id]]} [question: ${_id}]`);
                          }}>
                          info
                        </Meta>
                        <Meta
                          class="material-icons"
                          on:click={() => {
                            console.log(`Remove ${item._id} from ${labelMap[clicked[_id]]} [question: ${_id}]`);
                          }}>
                          person_remove
                        </Meta>
                      </Item>
                    {/each}
                  {/if}
                </List>
              </main>
            </AppContent>
          </div>
        </Content>
      </Card>
    </div>
  {/each}
  <div class="container">
    <p class="mdc-typography--caption">
      <span style="color: {stateSaved ? 'green' : 'red'}">
        {#if stateSaved}
          No new changes!
        {:else}
          Unsaved Changes (click the bookmark
          <Button
            on:click={() => {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }}>
            above
          </Button>
          to save)
        {/if}
      </span>
    </p>
  </div>
</section>
